@model ResortManagement.Areas.Dashboard.Models.UserEditViewmodel

@if (Model != null)
{

    <div class="modal-header bg-dark text-white">

        @if (Model.RMUser != null)
        {
            <h5 class="modal-title" id="exampleModalCenterTitle">
                <span>Edit User</span>
            </h5>
            @*<div id="ImgContainer" class="d-flex justify-content-center align-content-center mx-auto">
                <img src="~/Content/images/tag.png"/>
                <div class="position-absolute align-self-center">
                    <span class="font-weight-bold mt-0">Client</span>
                </div>
            </div>*@
            
        }
        else
        {
            <h5 class="modal-title" id="exampleModalCenterTitle">
                <span>Create User</span>
            </h5>
        }

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="formAction">
            <input type="hidden" name="id" value="@(Model.RMUser!=null?Model.RMUser.Id:string.Empty)">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Full Name</span>
                </div>
                <input class="form-control" name="FullName" type="text" placeholder="" value="@(Model.RMUser!=null?Model.RMUser.FullName:string.Empty)">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input class="form-control" name="Email" type="email" placeholder="" value="@(Model.RMUser!=null?Model.RMUser.Email:string.Empty)">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">User Name</span>
                </div>
                <input class="form-control" name="UserName" type="text" placeholder="" value="@(Model.RMUser!=null?Model.RMUser.UserName:string.Empty)">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date of birth</span>
                </div>
                <input class="form-control" name="DateOfBirth" type="date" placeholder="" value="@(Model.RMUser!=null?string.Join("-",Model.RMUser.DateOfBirth.Year,Model.RMUser.DateOfBirth.Month<10?string.Format("0{0}",Model.RMUser.DateOfBirth.Month):Model.RMUser.DateOfBirth.Month.ToString(),Model.RMUser.DateOfBirth.Day):string.Empty)">
            </div>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Role</span>
                        </div>
                        <div class="col border rounded-right ml-0">

                            @if (Model.Roles != null)
                            {
                                <ul class="d-flex flex-wrap">
                                    @foreach (var role in Model.Roles)
                                    {
                                        <li class="input-group m-1">
                                            <div class="input-group-prepend">
                                                <div class="input-group-addon">
                                                    <input name="UserRoles" @(Model.RMUser != null ? Model.RMUser.UserRoles.Contains(role.Name) ? "checked" : string.Empty : string.Empty) type="checkbox" value="@role.Name" />
                                                </div>
                                                <label class="form-check">@role.Name</label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">City</span>
                </div>
                <input type="text" name="City" class="form-control" value="@(Model.RMUser!=null?Model.RMUser.City:string.Empty)" />
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Address</span>
                </div>
                <textarea class="form-control" name="Address" rows="5" cols="10" placeholder="">@(Model.RMUser != null ? Model.RMUser.Address:string.Empty)</textarea>
            </div>
        </form>
        <div class="alert d-none" role="alert" id="DivMessage">

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-share fa-1x mr-1"></i>Close</button>
        <button type="button" class="btn btn-primary" id="btnSave"><i class="fas fa-save fa-1x mr-1"></i>Save changes</button>
    </div>

}
<script>

    $("#btnSave").click(function () {
        const DivMessage = $("#DivMessage");

        $.ajax({
            type: 'POST',
            url:'@Url.Action("Action","Users")',
            data: $("#formAction").serialize(),
            dataType:'json'
        }).done(function (response) {
                 DivMessage
                .removeClass('d-none')
                .html(response.Message)
                .addClass(response.Class);
                 $(":input").val('');
           //to refresh _listing partialView Data declared in index view
            refreshTableListing();
            if (response.Edited) {
                setTimeout(function () {
                    $('#exampleModalCenter').modal('hide');
                    //$("#exampleModalCenter").removeClass('show');
                    // $('body').removeClass('modal-open');
                    //$('body div:last').remove();
                    //$('.moadl-dialog').hasClass('modal-dialog-centered')
                    //    .removeClass('modal-dialog-centered')
                    //    .addClass('modal-dialog-centered');
                }, 1000);

            }

            setTimeout(function () {
                DivMessage.addClass('d-none');
            }, 5000);

            });
    });

</script>



