@model ResortManagement.Models.AccommodationsViewModel
@{
    ViewBag.Title = "Rooms";
    var urlDefault = "/Content/images/WebPictures/";
    var EmptyImg = "/Content/images/empty.jpg";
}

<!-- Rooms -->

@if (Model != null && Model.accommodations.Any() && Model.pager!=null)
{
    <div class="rooms">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-columns">

                        @foreach (var room in Model.accommodations)
                            {
                                bool roomHasImg = false;
                                string img=null;
                                if (room.accommodationPictures.Any())
                                {
                                    roomHasImg= room.accommodationPictures.Select(rAp => rAp.pictureID).ToList()
                                               .Intersect(Model.Accommopictures.Select(MaP => MaP.ID).ToList()).Any();

                                    img = Model.Accommopictures.Where(MaP => room.accommodationPictures.Select(rAp => rAp.pictureID).ToList()
                                                  .Contains(MaP.ID)).Select(MaP => MaP.URL).FirstOrDefault();


                                }
                            <div class="card">
                                <img class="card-img-top" 
                                     src="@(room.accommodationPictures.Any()?roomHasImg?!string.IsNullOrEmpty(img)?string.Concat(urlDefault,img):EmptyImg:EmptyImg:EmptyImg)"
                                     alt="Room image description">
                                <div class="card-body">
                                    <div class="rooms_title"><h2>@(room.accommodationGatgets.Name)</h2></div>
                                    <div class="rooms_text">
                                        <p>@room.Description</p>
                                    </div>
                                    <div class="rooms_list">
                                        <ul>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="~/Content/images/check.png" alt="">
                                                <span>Morbi tempus malesuada erat sed</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="~/Content/images/check.png" alt="">
                                                <span>Tempus malesuada erat sed</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="~/Content/images/check.png" alt="">
                                                <span>Pellentesque vel neque finibus elit</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="rooms_price">$ @(room.accommodationGatgets.FeePerNight)/<span>Night</span></div>
                                    <div class="button rooms_button"><a href="#">book now</a></div>
                                </div>
                            </div>

                        }

                    </div>

                    @*@(Model.pager!=null?Model.PageNo >= Model.pager.EndPage?"d-none":string.Empty:"d-none")*@
                    @if (Model.accommodations.Count()>4)
                    {
                        <div class="load_more_container text-center">
                            <div class="load_more_button"><a data-href="@Url.Action("Rooms","Home")">load more rooms</a></div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>

    <script>
        var page = 2; 
    $(".load_more_button a").on({
        "click": function () {
            debugger;
            if (page>=@Model.pager.EndPage) {
                    $(".load_more_container").addClass("d-none");}
           $.post($(this).attr("data-href"), {pageNo:page}, function (response) {
               $(".card-columns").append($(response).find(".card-columns").html());
               page++;     
           }, 'html');
        }
        ,"mouseenter": function () {$(this).css("cursor","pointer");}
    });
    </script>
}
else
{
    <div class="container mt-2">
        <div class="alert alert-warning" role="alert">
            Sorry! No Room registred yet!
        </div>
    </div>
}


